*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(225, 225, 225);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
